<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        function confirmDel() {
            var del=confirm("Press OK to delete, CANCEL to exit!");
            if (del==true){
                alert ("Delete success!!!");
            }else{
                alert("You want exit?");
            }
            return del;
        }
    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h1>List flower</h1>
            <p><a href="/flowers/add">add new</a></p>
            <table class="table-bordered table-default">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Detail</th>
                    <th colspan="2">Option</th>
                </tr>
                <tr th:each="flower: ${list}">
                    <td th:text="${flower.id}"></td>
                    <td th:text="${flower.name}"></td>
                    <td th:text="${flower.description}"></td>
                    <td th:text="${flower.price}"></td>
                    <td><a th:href="@{/flowers/detail/{id}(id=${flower.id})}">Detail</a></td>
                    <td><a th:href="@{/flowers/edit/{id}(id=${flower.id})}">Edit</a></td>
                    <td><a th:href="@{/flowers/delete/{id}(id=${flower.id})}" onclick="return confirmDel();">Delete</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>